build --cxxopt=-std=c++20
build --cxxopt=-O3
build --cxxopt=-Wall

# Use --config elliptic to control more what toolchain to use
build:elliptic --crosstool_top=//toolchain:clang_suite

# | Example: In your $HOME/.bazelrc you could do something like the below
# | to point out side installs of the clang toolchain
# -- Linux/Fedora:
# build --config=elliptic
# build:elliptic --//toolchain:clang_prefix=/usr
# build:elliptic --//toolchain:system_includes=/usr/lib64/clang/16/include
# -- MacOS:
# build --config=elliptic
# build:elliptic --//toolchain:clang_prefix= TBD
# build:elliptic --//toolchain:system_includes= TBD
 
